# Compiled JavaScript files
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts

# Distribution folder
/dist/

# Output files
/flashlights.csv

# Dependencies
node_modules/

# IDE specific files
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Environment files
.env
.env.local

# OS specific files
.DS_Store
Thumbs.db